<mat-toolbar color="primary" class="top-navbar">
  <span>Game Rental</span>
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" opened class="side-nav" style="padding-top: 70px">
    <mat-list>
      <mat-list-item class="side-nav-item" style="color: white; padding:5px;" routerLink="/">Games</mat-list-item>
      <mat-list-item class="side-nav-item" style="color: white; padding:5px;" routerLink="/login">Login</mat-list-item>
      <mat-list-item class="side-nav-item" style="color: white; padding:5px;" routerLink="/rentals" *ngIf="isLoggedIn">Rentals</mat-list-item>
      <mat-list-item class="side-nav-item" style="color: white; padding:5px;" routerLink="/profile" *ngIf="isLoggedIn">Profile</mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>